/PR3/Pr3/nbproject/private/
/PR3/Pr3/build/
/PR4/codigo/PR4/nbproject/private/
/PR4/codigo/PR4/build/
/PR5/pr5/nbproject/private/
/PR5/pr5/build/
/PR5/s1/nbproject/private/
/PR5/s1/build/
/PR5/s2/nbproject/private/
/PR5/s2/build/
/PR5/s2/dist/
/PR6/test/nbproject/private/
/PR6/test/build/
/PR6/Elecciones/nbproject/private/
/PR6/Elecciones/build/